{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="icon" type="image/png" href="/my-favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/my-favicon/favicon.svg" />
<link rel="shortcut icon" href="/my-favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/my-favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Christian" />
<link rel="manifest" href="/my-favicon/site.webmanifest" />
